@page
@model WebAppInventarioS.Pages.Equipos.IndexModel
@{
    ViewData["Title"] = "Lista de Equipos";
}

<h1>Lista de Equipos</h1>

<form method="get" class="mb-3 w-50 mx-auto">
    <div class="input-group">
        <input type="text" name="SearchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Buscar por Número de Serie, Etiqueta" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model.SearchTerm))
{
    <h2>Datos Básicos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>NumeroSerie</th>
                <th>Etiqueta</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ip</th>
                <th>EquipoEstatus</th>
                <th>Empresa</th>
                <th>Renovar</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Equipo != null)
            {
                <tr>
                    <td>@Model.Equipo.NumeroSerie</td>
                    <td>@Model.Equipo.Etiqueta</td>
                    <td>@Model.Equipo.Marca</td>
                    <td>@Model.Equipo.Modelo</td>
                    <td>@Model.Equipo.Ip</td>
                    <td>@Model.Equipo.EquipoEstatus</td>
                    <td>@Model.Equipo.Empresa</td>
                    <td>
                        @if (Model.Equipo.Status)
                        {
                            <span class="badge bg-success">No</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Si</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@Model.Equipo.IdEquipo">Detalles</a>
                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Equipo.IdEquipo">Editar</a>
                        @if (Model.Equipo.Status)
                        {
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.Equipo.IdEquipo">Baja</a>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-page="./Delete" asp-route-id="@Model.Equipo.IdEquipo">Alta</a>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">No se encontró ningún equipo.</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Detalles Técnicos y Administrativos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ram</th>
                <th>DiscoDuro</th>
                <th>Procesador</th>
                <th>So</th>
                <th>FechaUltimaCaptura</th>
                <th>FechaUltimoMantto</th>
                <th>ElaboroResponsiva</th>
                <th>Ubicacion</th>
                <th>Departamento</th>
                <th>Empleado</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Equipo != null)
            {
                <tr>
                    <td>@Model.Equipo.Ram</td>
                    <td>@Model.Equipo.DiscoDuro</td>
                    <td>@Model.Equipo.Procesador</td>
                    <td>@Model.Equipo.So</td>
                    <td>@Model.Equipo.FechaUltimaCaptura</td>
                    <td>@Model.Equipo.FechaUltimoMantto</td>
                    <td>@Model.Equipo.ElaboroResponsiva</td>
                    <td>@Model.Equipo.Zona</td>
                    <td>@Model.Equipo.NombreDepartamento</td>
                    <td>@Model.Equipo.IdEmpleado</td>
                </tr>
            }
        </tbody>
    </table>

            <h2>Datos Empleado</h2>
            <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Usuario Windows</th>
                <th>Usuario AD</th>
                <th>Correo</th>
                <th>Pass</th>
                <th>Acceso</th>
                <th>IdDepartamento</th>
                <th>IdUbicacion</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Empleados != null && Model.Empleados.Any())
            {
                foreach (var empleado in Model.Empleados) 
                {
                    <tr>
                        <td>@empleado.Nombre @empleado.ApellidoP @empleado.ApellidoM</td>
                        <td>@empleado.Puesto</td>
                        <td>@empleado.UsuarioWindows</td>
                        <td>@empleado.UsuarioAD</td>
                        <td>@empleado.Correo</td>
                        <td>@empleado.Pass</td>
                        <td>@empleado.Acceso</td>
                        <td>@empleado.NombreDepartamento</td>
                        <td>@empleado.NombreUbicacion</td>
                        <td>
                            @if (empleado.Status)
                            {
                                <span class="badge bg-success">Activo</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactivo</span>
                            }
                        </td>
                    </tr>
                    }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">No hay empleados para mostrar.</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Datos Licencia Office</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Cuenta</th>
                <th>Nombre Equipo</th>
                <th>Numero Serie</th>
                <th>Marca</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Licencias != null && Model.Licencias.Any())
            {
                foreach (var licencia in Model.Licencias)
                {
                    <tr>
                        <td>@licencia.Cuenta</td>
                        <td>@licencia.NumeroSerie</td>
                        <td>@licencia.NumeroSerie</td>
                        <td>@licencia.Marca</td>
                        <td>
                            @if (licencia.Status)
                            {
                                <span class="badge bg-success">Activo</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactivo</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">No hay licencias para mostrar.</td>  <!-- Updated message -->
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a class="btn btn-success" asp-page="./Create">Crear Nuevo Equipo</a>
</p>